@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1;
  }